* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.header,
.container-1,
.footer {
    background-color: #1f2937;
}

.header > span {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

.header > a,
.container-1 > p {
    font-size: 18px;
    color: #e5e7eb;
}

.header > a {
    text-decoration: none;
}

.container-1 > h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.container-2 > h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.container-3 {
    background-color: #e5e7eb;
}

.quote {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1f2937;
}

button,
.cta-container {
    background-color: #3882f6;
}

.cta-container > button {
    border-style: solid;
    border-color: white;
}

button {
    border-radius: 8px;
    border-style: none;
    width: 8rem;
    height: 2.3rem;
    color: #f9faf8;
    font-weight: bolder;
    font-size: 18px;
}

.container-1-placeholder {
    width: 30vw;
}

.card > img {
    width: 13vw;
    border-radius: 10px;
    border-style: solid;
    border-color: #3882f6;
}

.card > p {
    color: #1f2937
}