* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.header-container-1,
.footer {
    background-color: #1f2937;
    padding-top: 4vh;
    padding-left: 15vw;
    padding-right: 9vw;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    gap: 2rem;
}

.header > span {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

.title-text-button > p {
    font-size: 18px;
    color: #e5e7eb;
}

.header-links > a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.title-text-button > h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-top: 0;
    margin-bottom: 0;
}

.title-text-button,
.container-1-placeholder {
    margin-top: 16vh;
    margin-bottom: 16vh;
}

.title-text-button > p {
    margin-top: 5px;
}

.container-1 {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.container-2 > h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.container-3 {
    background-color: #e5e7eb;
}

.quote {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1f2937;
}

button,
.cta-container {
    background-color: #3882f6;
}

.cta-container > button {
    border-style: solid;
    border-color: white;
}

button {
    border-radius: 8px;
    border-style: none;
    width: 8rem;
    height: 2.3rem;
    color: white;
    font-weight: bolder;
    font-size: 18px;
}

button:hover {
    background-color: #1d478b;
}

button:active {
    background-color: #949faf;
}

.container-1-placeholder {
    width: 37vw;
}

.card > img {
    width: 13vw;
    border-radius: 10px;
    border-style: solid;
    border-color: #3882f6;
}

.card > p {
    color: #1f2937
}