* {
    font-family: sans-serif;
}

.header,
.container-1,
.footer {
    background-color: #1f2937;
}

.header > span {
    font-size: 24px;
    color: #f9faf8;
}

.header > a,
.container-1 > p {
    font-size: 18px;
    color: #e5e7eb;
}

.container-1 > h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.container-1-placeholder {
    width: 30vw;
}

.card > img {
    width: 13vw;
}